/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* general and utilities */
:root {
    --color-dark: #1F2937;
    --color-main: #F9FAF8;
    --color-sec: #E5E7EB;
    --color-btn: #3882F6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/* header */
header {
    background-color: var(--color-dark);
    color: var(--color-main);
}

header .container {
    display: flex;
    align-items: center;
    padding-block: 1em;
}

header .logo {
    font-weight: 600;
}

ul {
    list-style: none;
    margin-left: auto;
    display: flex;
    gap: 1em;
}

a {
    text-decoration: none;
    color: var(--color-sec);
}

/* Section one */
section.one {
    background-color: var(--color-dark);
}

section.one .container {
    display: flex;
    padding-block: 4em;
    justify-content: space-between;
    gap: 5em;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: .75em;
    align-items: flex-start;
}

.hero h1 {
    font-size: 2.8em;
    color: var(--color-main);
}

.hero p {
    color: var(--color-sec);
    font-size: .8em;
    max-width: 90%;
}

.hero button {
    margin-top: 2em;
    padding: .35em .85em;
    border: 1px solid var(--color-dark);
    border-radius: 5px;
    background-color: var(--color-btn);
    color: var(--color-main);
    font-size: .9em;
}

section.one img {
    max-width: 400px;
    max-height: 200px;
    margin-left: auto;
    border-radius: 5px;

}

/* Section two */
section.two .container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    padding-block: 4em 5em;
}

section.two h2 {
    font-size: 2em;
    font-weight: 800;
    color: var(--color-dark);
}

section.two .cards-container {
    display: flex;
    justify-content: center;
    gap: 4em;
    flex-wrap: wrap;
}

.card {
    flex: 180px;
    display: flex;
    flex-direction: column;
    gap: .75em;
    align-items: center;
}

.card img {
    border: 2px solid var(--color-dark);
    border-radius: 10px;
    max-width: 180px;
    max-height: 180px;
}

.card p {
    max-width: 180px;
    color: #8f8f8f;
    text-align: center;
}

/* Section three */
section.three {
    background-color: var(--color-sec);
}

section.three .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 5em;
    padding-inline: 14em;
    color: var(--color-dark);
}

.quote {
    align-self: center;
    font-style: italic;
    font-weight: 200;
    font-size: 2em;
}

.author {
    align-self: flex-end;
    font-weight: 800;
}

/* Section four */
section.four .container {
    padding: 5em;
}

section.four .action-call {
    padding: 2em 10em;
    background-color: var(--color-btn);
    color: var(--color-main);
    display: flex;
    gap: 2em;
    border-radius: 5px;
}

.action-call h3 {
    font-size: 1.2em;
}

.action-call p {
    font-size: 0.9em;
    font-weight: 300;
}

.action-call button {
    padding: .35em .85em;
    border: 1px solid var(--color-main);
    border-radius: 5px;
    background-color: var(--color-btn);
    color: var(--color-main);
    font-size: .9em;
    align-self: flex-end;
    flex: 0 0 6em;
    margin-left: auto;
}

/* Footer */
.footer {
    background-color: var(--color-dark);
    color: var(--color-main);
    margin-top: auto;
}

.footer .container {
    display: flex;
    justify-content: center;
    padding-block: 1.5em;
}